body {
  font-family: Arial, sans-serif;
  background: linear-gradient(#001a45 0%, #2b6aad 80%, #007bff 100%);
  /* atachmen */
  background-attachment: fixed;
  margin: 0;
  padding: 20px;
}

div {
  margin: 10px;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  border-bottom: #0056b3 2px solid;
  font-size: large;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border-bottom: #00ffee 2px solid;
}

button {
  background: #007bff;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.descripcion {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #555;
}
.descripcion p {
  margin: 0;
  padding: 0;
}

.resultado {
  margin-top: 30px;
  background: #e6f7ff;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #91d5ff;
}

.resultado p {
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  background: #fff;
}

h2 {
  text-align: center;
}

th,
td {
  border: 0;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  /* even hace que los colores de las filas alternen */
  background-color: #e9e9e9;
}
.container_add_ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  background-color: #001a45;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.form-group label {
  width: 80%;
}
.form-group input {
  width: 100%;
}
.buttons-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

#btnAddUbicacion {
  background-color: #14d75f;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#btnAddUbicacion:hover {
  background: #0f9b4d;
}

#btnClose {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#btnClose:hover {
  background: #ff1a1a;
}

#add_ubi_btn{
  background-color: #00aaff;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.buttons-actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.edit-btn{
  background-color: #ffcc00;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.edit-btn:hover{
  background: #e6b800;
}

.delete-btn{
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover{
  background: #ff1a1a;
}